body {
    background: #27282c;
    color: whitesmoke
}

.navbar {
    position: relative;
    background: #404040;
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    background: #696c77;
    list-style: none;
    border-radius: 5px;
}

.navbar ul li a {
    height: 50px;
    width: 130px;
    color: white;
    text-decoration: none;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background: #646471;
    color: rgb(229, 228, 239);
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: whitesmoke;
    padding: 10px;
    margin:2px;
    color: black;
}

.input {
    padding: 10px;
    background: lavender;
    display: block;
}